# Lab 2: Basic Data Types

Question 1:

In [4]:
my_name = 'Thomas'
print (my_name)

Thomas

Question 2:

In [5]:
my_id =8342
print (my_id)

8342

Question 3:

In [6]:
my_id_str = '8342'
print (my_id_str)

8342

Question 4:

In [18]:
print ((my_name)+(my_id)) #You cannot add these because it my_name is a string and my_id is a number

TypeError: must be str, not int

Question 5:

In [17]:
print (my_name + my_id_str) # Yes, you can add because they are both strings

Thomas8342

Question 6:

In [23]:
print("hello, world. This is my first python string.".split('.'))

['hello, world', ' This is my first python string', '']

Question 7:

In [30]:
str_list = ['a','b','c','d','e']
str_list.sort()
print(str_list)
# While you can sort letters, they were already sorted in the input so sorting made no difference

['a', 'b', 'c', 'd', 'e']

Question 8:

In [44]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

Question 9:

In [45]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

Question 10:

In [47]:
print(str_list[2]) #printing 'c' by index

c

Question 11:

In [51]:
num_list = [12,32,43,35]
print(str_list + num_list) #Yes, two lists can be combined

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

Question 12:

In [52]:
my_dict = {'name':'Thomas','id':8342}
print(my_dict)

{'name': 'Thomas', 'id': 8342}

Question 13:

In [55]:
my_dict['name']='Bryn' #Changing name to last name
print(my_dict)

{'name': 'Bryn', 'id': 8342}

Question 14:

In [57]:
print(my_dict['id']) # Print value of ID

8342

Question 15:

In [58]:
my_dict['id']=2438
print(my_dict)

{'name': 'Bryn', 'id': 2438}

Question 16:

In [60]:
my_dict['num_list']=num_list #Adding num_list as a value and the values it contained
print(my_dict)

{'name': 'Bryn', 'id': 2438, 'num_list': [12, 32, 43, 35]}